.App {
  text-align: center;
}

/* .navbar {} */

.header {
  background-color: #181a1b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

